{% extends 'base.html' %}

{% load static %}

{% block content %}
    <center>
        <h1>Login</h1>
    </center>
    <br/>
    <div class="col-md-6 offset-md-3">
        <form method=POST action="">
            {% csrf_token %}
            <div class="mb-3">
            <input type="text" class="form-control"  placeholder="Username" name="username">
            </div>
            <div class="mb-3">
            <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
    </div>

{% endblock %}